<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='https://statics.teams.microsoft.com/sdk/v1.0/js/MicrosoftTeams.js'></script>
</head>

<body>
  {{{body}}}
</body>

</html>