<h1>
  Button
</h1>
<div class="divstep">
  <div class="mark">
    <code class="prettyprint">{{sample01}}</code>
  </div>

  <fab-button value="Click me !"></fab-button>
</div>

<div class="divstep">
  <div class="mark">
    <code class="prettyprint">{{sample02}}</code>
  </div>
  <fab-button classType="ms-Button--primary" value="Click me !"></fab-button>
</div>

<div class="divstep">
  <div class="mark">
    <code class="prettyprint">{{sample03}}</code>
  </div>
  <fab-button classType="ms-Button--hero" value="Click me !"></fab-button>
</div>
<div class="divstep">
  <div class="mark">
    <code class="prettyprint">{{sample04}}</code>
  </div>
  <fab-button classType="ms-Button--compound" value="Click me !" description="get more informations about this"></fab-button>
</div>
<div class="divstep">
  <div class="mark">
    <code class="prettyprint">{{sample05}}</code>
  </div>
  <fab-button (click)="clicked()" classType="ms-Button--primary" class="button-margin" value="Raise click event"></fab-button>
  <div>
    <label>{{sample05label}}</label>
  </div>
</div>
<div class="divstep">
  <div class="mark">
    <code class="prettyprint">{{sample06}}</code>
  </div>
  <fab-button classType="ms-Button--primary" isDisabled="true" value="Click me !"></fab-button>
</div>