<div class="theme-light">
  <div>
    <div class="font-semibold font-title">Configuration</div>
  </div>
  <p></p>
  <div>
    <div class="font-semibold font-title2">Whatever you want here</div>
    <div>&nbsp;</div>
    <div class="radio-group">
      <div class="radio-container">
        <input class="radio-button" type="radio" name="Leaderboard" id="1">
        <span class="font-base"> Option 1</span>
      </div>
      <div class="radio-container">
        <input class="radio-button" type="radio" name="Leaderboard" id="2">
        <span class="font-base"> Option 2</span>
      </div>
    </div>
  </div>
  <p></p>
</div>