/* You can add global styles to this file, and also import other style files */
body {
    font-size: .875rem;
  }
  
  pre{
    margin: 0px;
  }

  .mark{
    border:1px solid #005cb9;
    background-color:#f1f5f9;
    overflow:auto;
    margin:0px;
    padding:1em!important;
    overflow-y:hidden
  }

  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 60px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 60px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 60px; /* Space for fixed navbar */
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  
  /*
   * Utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  

p,
ul,
ol {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
}

ol,
ul {
  list-style: none;
}

.divstep{
    max-width: 90em;
    padding-left: 56px;
    margin-bottom: 10px;
    padding-bottom: 20px;

}

.steps {
    counter-reset: li;
    max-width: 90em;
  }
  
  [dir='ltr'] .steps {
    margin-right: 0;
  }
  
  [dir='rtl'] .steps {
    margin-left: 0;
  }
  
  .steps li  {
    list-style: none;
    position: relative;
    padding-top: 0px;
    padding-left: 56px;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 48px;
    padding-bottom: 20px;
  }
  
 
  
  .steps li::before {
    color: #721481;
    content: counter(li);
    counter-increment: li;
    font-size: 48px;
    font-weight: 100;
    line-height: 38px;
    position: absolute;
    padding-left: 0px;
    margin-left: -50px;
    top: 0;
  }
  
  .steps code {
    margin: 16px 0;
  }
  



  @media screen and (min-width: 640px) {
    .steps li{
      padding-top: 0;
    }
  
    [dir='ltr'] .steps li {
      padding-left: 56px;
    }
  
    [dir='rtl'] .steps li {
      padding-right: 56px;
    }
  
    [dir='ltr'] .steps li::before{
      left: -20px;
    }
  
    [dir='rtl'] .steps li::before  {
      right: 0;
    }
  }

  .ExampleCard {
    margin-bottom: 20px;
  }
  
  .ExampleCard-header {
    border-bottom: 1px solid #a6a6a6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
  }
  
  .ExampleCard-title {
    margin-bottom: 0px;
    display: inline-block;
  }
  
  .ExampleCard-toggleButtons {
    display: block;
    float: right;
  }
  

  .ExampleCard-codeButton {
    background: none;
    border: 1px solid #a6a6a6;
    border-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 1;
    padding: 4px 12px;
    min-width: 100px;
    margin-right: 0;
    transition: border 0.367s cubic-bezier(0.1, 0.9, 0.2, 1);
  }
  
  
  .ExampleCard-codeButton .ms-Button-icon {
    display: inline-block;
    position: relative;
    top: 3px;
  }
  
  .ExampleCard-codeButton .ms-Button-icon .ms-Icon {
    font-size: 17px;
    padding: 0;
    margin-left: 8px;
  }
  
  .ExampleCard-codeButton .ms-Button-label {
    color: #212121;
    display: inline-block;
    padding-bottom: 6px;
  }
  
  .ExampleCard-codeButton .hideSpan {
    display: none;
  }
  
  .ExampleCard-toggleButtons .ExampleCard-codeButton.is-active,
  .ExampleCard-toggleButtons .ExampleCard-codeButton:hover {
    background-color: #212121;
    border-color: #212121;
    color:#fff;
  }
  
  .ExampleCard-toggleButtons .ExampleCard-codeButton.is-active .ms-Button-icon,
  .ExampleCard-toggleButtons .ExampleCard-codeButton.is-active .ms-Button-label,
  .ExampleCard-toggleButtons .ExampleCard-codeButton:hover .ms-Button-icon,
  .ExampleCard-toggleButtons .ExampleCard-codeButton:hover .ms-Button-label {
    color: #ffffff;
  }
  
  .ExampleCard-example {
    -webkit-overflow-scrolling: touch;
    padding: 20px 0;
  }
  
  [dir='ltr'] .ExampleCard-example.is-right-aligned {
    text-align: right;
  }
  
  [dir='rtl'] .ExampleCard-example.is-right-aligned {
    text-align: left;
  }

  .ExampleCard-code {
    background-color: #212121;
    overflow: hidden;
  }
  
  .ExampleCard-code pre {
    margin: 0;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.367s cubic-bezier(0.1, 0.9, 0.2, 1);
  }
  
  .ExampleCard-code code {
    display: block;
    margin: 12px;
  }
  
.ExampleCard.is-codeVisible .ExampleCard-header {
  border-color: #212121;
}

.ExampleCard.is-codeVisible .ExampleCard-code pre {
  max-height: 480px;
  border: 1px solid #212121;
  border-top: 0;
  overflow: auto;
}

.ExampleCard.is-codeVisible .ExampleCard-codeButton {
  background-color: #212121;
}

.ExampleCard.is-codeVisible .ExampleCard-codeButton .ms-Button-icon,
.ExampleCard.is-codeVisible .ExampleCard-codeButton .ms-Button-label {
  color: #ffffff;
}

.ExampleCard.is-codeVisible .ExampleCard-codeButton .hideSpan {
  display: inline;
}

.ExampleCard.is-codeVisible .ExampleCard-codeButton .showSpan {
  display: none;
}

.ExampleCard.is-codeVisible .ExampleCard-code {
  display: block;
  margin-bottom: 20px;
}



  /*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #212121;
  color: #DCDCDC;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: #569CD6;
}
.hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: #4EC9B0;
}

.hljs-number,
.hljs-class {
  color: #B8D7A3;
}

.hljs-string,
.hljs-meta-string {
  color: #D69D85;
}

.hljs-regexp,
.hljs-template-tag {
  color: #9A5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
  color: #57A64A;
  font-style: italic;
}

.hljs-doctag {
  color: #608B4E;
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
  color: #9B9B9B;
}

.hljs-variable,
.hljs-template-variable {
  color: #BD63C5;
}

.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
  color: #9CDCFE;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #D7BA7D;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
