<div>
  <fab-button (click)="authenticateAsync()" class="ms-Button ms-Button--primary button-margin" buttonlabel="Authentication"></fab-button>
  <fab-button (click)="logoutAsync()" class="ms-Button ms-Button--primary" buttonlabel="logout"></fab-button>
</div>


<div>User name</div>
<div>{{userName}}</div>

<div>
  <fab-button (click)="getPhotoAsync()" class="ms-Button ms-Button--primary button-margin" buttonlabel="get my photo"></fab-button>
</div>

<div>
  <img [src]="photoUrl" width="40" height="40">
</div>



<div>
  <fab-button (click)="getMembersAsync()" class="ms-Button" buttonlabel="get team members"></fab-button>
</div>

<fab-label text="Hello label" isRequired="true" isDisabled="true"></fab-label>

<fab-dropdown [items]="items" [isDisabled]="ddlIsDisabled" (selectedItemChanged)="onOptionSelected($event)" class="ms-dropdown"></fab-dropdown>

<fab-button (click)="addDropdownItems()" class="ms-Button ms-Button--primary button-margin" buttonlabel="Add items to dropdown list"></fab-button>

<fab-button (click)="disableDropdown()" class="ms-Button ms-Button--primary button-margin" buttonlabel="disable or enable"></fab-button>

<div>{{selectedOption}}</div>

<fab-link text="Go to this link" href="http://www.google.fr"></fab-link>


<fab-table isSelectable="true" [isMultiSelection]="tableIsMultiSelection" [selectedItems]="tableSelectedItems" (selectedItemsChanged)="onTableSelected($event)"
  [headers]="itemsHeaders" [items]="items"></fab-table>

<fab-button (click)="tableChangeMultiSelect()" class="ms-Button ms-Button--primary button-margin" buttonlabel="disable or enable multi selection"></fab-button>

<fab-button (click)="tableChangeItems()" class="ms-Button ms-Button--primary button-margin" buttonlabel="change table items"></fab-button>