<h1>
  Choices
</h1>

<div class="divstep">
  <div class="mark">
    <code class="prettyprint">
          <![CDATA[
          items = [
          { key: "1", value: "Option 1", isDisabled: false },
          { key: "2", value: "Option 2", isDisabled: false },
          { key: "3", value: "Option 3", isDisabled: true },
          { key: "4", value: "Option 4", isDisabled: false },
        ];
        ]]>
      </code>
  </div>
  <div class="mark">
    <code class="prettyprint">{{sample01}}</code>
  </div>
</div>
<div class="divstep">
  <div class="mark">
    <fab-choices id="mychoicescomp" (change)="selectedItemChange($event)">
      <fab-choice id="id1" name="a">Hello world</fab-choice>
      <fab-choice id="id2" name="a">Hello world</fab-choice>
    </fab-choices>
    <fab-choices id="mychoicescomp2">
      <fab-choice id="id3" name="a">Hello world</fab-choice>
    </fab-choices>
  </div>
</div>